:root{
	--main_colour: #FBF6EF;
	--main_colour2: rgb(181, 212, 221);
	--secondary_colour: #0C6E7D;
	--secondary_colour2: deeppink;
}


body {
	background-color: var(--main_colour);
	font-family: Verdana;
}

#web-title {
	font-size: 50px;
	text-shadow: 1px 1px var(--secondary_colour);
}

#category-title {
	font-size:32px;
	margin: auto;
	text-align: center;
	color: var(--secondary_colour);
	-webkit-text-stroke: 2px deeppink;
}

#category-title2 {
	font-size:32px;
	margin: auto;
	text-align: center;
	color: var(--secondary_colour);
	
}

#category-title3 {
	font-size:32px;
	margin: auto;
	color: var(--secondary_colour);
	
}
	