:root{
	--main_colour: #FBF6EF;
	--main_colour2: rgb(181, 212, 221);
	--secondary_colour: #0C6E7D;
	--secondary_colour2: rgb(2, 64, 75);
}


body {
	background-color: var(--main_colour);
	font-family: Verdana;
}

#web-title {
	font-size: 50px;
	text-shadow: 1px 1px var(--secondary_colour);
}

#category-title {
	font-size:32px;
	margin: auto;
	text-align: center;
	color: rgb(2, 64, 75);
	-webkit-text-stroke: 1px var(--main_colour2);
}
	