:root{
	--main_colour: #FBF6EF;
	--secondary_colour: #0C6E7D;
	--secondary_colour2: #cc0066;
}


body {
	background-color: var(--main_colour);
	font-family: Verdana;
}

#WebTitle {
	font-size: 50px;
	text-shadow: 1px 1px #ccc;
}