div.h {
    position:relative;
    border-radius: 25px;
    border:  2px solid black;
	margin:  20px;
}

div.banner {	
    position:relative;
    z-index: -1;
	width:100%;
	padding: 15px;
	margin-bottom: 5px; 
	background: var(--secondary_colour);
}

.roles {
	margin: 0 15% 0 15%;
}

.roles li {
	padding: 10px; 
	display: block; 
	float:left;
}

#box {	
	background: var(--main_colour2);
    overflow-y: scroll;
	width: 80%;
	margin: auto;
	padding: 20px;
	border-radius: 10px;
}

#grid-container {
    position:relative;
    border-radius: 25px;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
    row-gap: 30px;
    height: 700px;
}

#description {
	text-align: center;
    font-size: large;
	padding: 15px;
}

.link_box {
	width: 275px;
	height: 80px;
    position:relative;
    border-radius: 10px;
    padding: 90px; 
	text-align: center;
	font-size: 40px;
	background-position: center;
	background-size: contain;
	background-color: var(--secondary_colour);
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: -2px 3px #444;
	color: #ddd;
	opacity: 1;
}

a.link_box:hover {
	opacity: 0.8;
	transform: scale(1.1);
}

.link {
	width: 80%;
	height: 30px;
	margin: auto;
	padding: 10px;
}

.link a {
	text-transform: uppercase;
	color: #222;
	border-radius: 2px;
	padding: 5px;
}

.link a:hover{
	color: #aaa;
}