div.h {
    position:relative;
    border-radius: 25px;
    border:  2px solid black;
	margin:  20px;
}

div.s {	
    position:relative;
    border-radius: 25px;
    z-index: -1;
	margin-bottom: 5px; 
	height:  40px;
	background: cadetblue;
}

#box {	
	background: lightblue;
    overflow-y: scroll;
}

#grid-container {
    position:relative;
    border-radius: 25px;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
    row-gap: 30px;
    height: 700px;
}

.sport {
    position:relative;
    border-radius: 10px;
    padding: 90px; 
	text-align: center;
	font-size: 40px;
	background-position: center;
	background-size: contain;
	background-color: var(--secondary_colour);
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: -2px 3px #444;
	color: #ddd;
	opacity: 0.9;
}

a.sport {
	
}