div.info {
	width: 66%;
	height: 240px;
	margin: auto;
	margin-top:10px;
	padding: 15px;
	background-color: var(--main_colour2);
	border-radius: 5px;
}

div.tab {
	margin: 15px;
	padding: 15px;
	background-color: var(--main_colour);
	border-radius: 10px;
}

div.half {
	width: 40%;
}



