#top-bar {
    background: cadetblue;
}

#description {text-align:right;
    font-size: large;
    padding-right: 4%;
}

div#teams {	
	background: lightblue;
    overflow-y: scroll;
}

#teamlist {
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 15px;
    row-gap: 15px;
    height: 700px;
}

.team {
    border: 5px solid black;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}