#top-bar {
    border-radius: 25px;
    background: cadetblue;
    left: 50px;
    text-decoration-color: deeppink;
}



#team-name{
    position: relative;
    left: 20px;
}


#about{
    border-radius: 25px;
    position: relative;
    border: 3px solid cadetblue;
    padding: 20px;
    bottom: 10px;
    padding-right: 4%;
    text-align:left;
    
}


#aboutUS{
    text-decoration: underline;
}


#description {
    font-size: medium;
    text-align:r=left;
    font-size: large;
    color: deeppink;
}

#manager {
    border-radius: 25px;
    line-height: 20%;
    border: 3px solid cadetblue;
    padding: 20px;
    text-align:left;
    font-size: medium;

}

#manager2 {
    position:relative;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: black;
    text-align:left;
    font-size: large;
    color: deeppink;
    padding-right: 4%;
}

#sport {
    font-weight: bold;
    text-align:right;
    font-size: large;
    text-decoration-color: deeppink;
    padding-right: 4%;
}

#image{
    position:relative;
    top: 20px;
    line-height: 20%;
    border: 3px solid deeppink;
    left: 20px;
}

#roles{
    position:relative;
    border-radius: 25px;
    top: 20px;
    line-height: 20%;
    border: 3px solid cadetblue;
    padding: 20px;
    text-align:left;
    font-size: medium;
}

#roles2{
    position:relative;
    border-radius: 25px;
    top: 20px;
    line-height: 20%;
    border: 3px solid cadetblue;
    padding: 20px;
    text-align:left;
    font-size: medium;
}



/* #progress {
    position:relative;
    width:250px;
    height:20px;
    border:1px solid red;
} */

.progress .progress-bar {
    background:blue;
    height:20px;
    width:0%;
    display:inline-block;
}

.progress .progress-text {
    position:absolute;
    z-index:2;
    left: 30;
}

/* #myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
} */



/*div#teams {	
	background: lightblue;
    overflow-y: scl;
}*/

/*#teamlist {
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 15px;
    row-gap: 15px;
    height: 700px;
}*/

/*.team {
    border: 5px solid black;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}*/