div.h {
    border:  2px solid black;
	margin:  20px;
}

div.s {	
    position: relative;
	bottom: 5px; 
	height:  40px;
	background: cadetblue;
}

div.box {	
    position: relative;
	background: lightblue;
    overflow-y: hidden;
}

#grid-container {
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 15px;
    row-gap: 15px;
}

.sport {
    border: 5px solid black;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}