{% extends 'sportSquads/information.html' %}

{% load static %}

{% block title_block %}
    Account Information
{% endblock %}

{% block top_block %}
	{% if user_profile_picture %}
		<img class="icon centre profile" src={{ user.profile_picture.url }} alt="Profile Picture" style="height:90px; width:90px; margin-top:5%;">
	{% endif %}
	<p id="username">{{ user.user.username }}</p>
	<p id="username" style="font-size:12px;">{{ user.user.email }}</p>
{% endblock %}
{% block bottom_block %}
	<div class="tab half">
		<h2>Teams</h2>
		<br>
		{% if user.teams %}
		<ul>
			{% for team in teams %}
				<li>team <a href="">></a></li>
			{% endfor %}
		</ul>
		{% endif %}

	</div>
	
	<div class="tab half">
		<h2>Team manager of</h2>
		<br>
		{% if user.owned_teams %}
		<ul>
			{% for team in owned_teams %}
				<li>team <a href="">></a></li>
			{% endfor %}
		</ul>
		{% endif %}

	</div>
{% endblock %}