{% extends 'sportSquads/base.html' %}

{% load static %}

{% block title_block %}
    Add a new Sport
{% endblock %}

{% block body_block %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/authentication.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/add_new_sport.js' %}"></script>

    <h1 id="web-title">Add a New Sport</h1>
	
	<div class="input-box" style="height:420px">
		<form id="add_new_sport" method="post" action = "/add-sport/" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" name="submit" value="Add New Sport" />
		</form>
	</div>
{% endblock %}