{% extends 'sportSquads/base.html' %}

{% load static %}

{% block title_block %}
    All teams
{% endblock %}

<link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}">

{% block body_block %}
    <body>
        <h1>sportSquads</h1>
        <div class=s>
            <h2>All Teams</h2>
        </div>

        <form id="search_team_form" method="post" action="{% url 'all_teams' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ search_team_form.as_p }}
            <input type="submit" name="submit" value="Search" />
        </form>

        <div>
            {% if teams %}
            <ul>
                {% for team in teams %}
                <li>
                    <a href="{% url 'show_team' team.name_slug %}">
                    {{ team.name }}
                </li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No teams match your search criteria</strong>
            {% endif %}
        </div>
    </body>
{% endblock %}