{% extends 'sportSquads/base.html' %}

{% load static %}

{% block title_block %}
    All teams
{% endblock %}

<link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}">

{% block body_block %}
    <body>
        <h1>sportSquads</h1>
        <div class=s>
            <h2>All Teams</h2>
        </div>
        <div>
            {% if teams %}
            <ul>
                {% for team in teams %}
                <li>
                    <a href="{% url 'show_team' team.name_slug %}">
                    {{ team.name }}
                </li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>There are no teams.</strong>
            {% endif %}
        </div>
    </body>
{% endblock %}