<!DOCTYPE html>
{% load static %}

<html>
	<head lang="en">
		<meta charset="UTF-8" />
		<title>
			Sports -
			{% block title_block %}
				Squad Up!
			{% endblock %}
		</title>
		
		<link rel="stylesheet" type="text/css" href="{% static 'css/general.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	</head>
	<body>
		<div class = "hingebar shadow">
			<a class="icon left" href="{% url 'home' %}"><img src="home.jpg" alt="HOME"></a>
			<img class="icon left" src="logo.jpg" alt="LOGO">
			
			<div class="dropdown icon right" style="padding:8px 24px">
				<button class="dropbtn">
				{% if user_info.profile_picture %}
					<img class="profile" src={{ user_info.profile_picture.url }} alt="USER">
				{% else %}
					<img class="profile" src="{% static 'images/default_image.svg' %}" alt="USER">
				{% endif %}
				</button>
				<div class="dropdown-content shadow">
					{% if user_info %}
						<a href="{% url 'account_information'%}">Account Details</a>
						<a href="{% url 'logout'%}">Sign out</a>
					{% elif user.is_authenticated %}
						<a href="{% url 'logout'%}">Sign out</a>
					{% else %}
						<a href="{% url 'login'%}">Login</a>
						<a href="{% url 'sign_up'%}">Sign up</a>
					{% endif %}
				</div>
			</div>
			
			
			
			<div class="dropdown icon right">
				<button class="dropbtn">=</button>
				<div class="dropdown-content shadow">
					<a href="{% url 'home' %}">Home</a>
					<a href="{% url 'search_teams'%}">Search Teams</a>
					<a href="{% url 'contact_us'%}">Contact Us</a>
				</div>
			</div>
		</div>

		<br><br>
			
		{% block body_block %}
		{% endblock %}
		
		
	</body>
</html>