<!DOCTYPE html>
{% load static %}

<html>
	<head lang="en">
		<meta charset="UTF-8" />
		<title>
			Sports -
			{% block title_block %}
				Squad Up!
			{% endblock %}
		</title>
		
		<link rel="stylesheet" type="text/css" href="{% static 'css/general.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	</head>
	<body>
		<div class = "hingebar shadow">
			<a class="icon left" href="{% url 'home' %}"><img src="home.jpg" alt="HOME"></a>
			<img class="icon left" src="logo.jpg" alt="LOGO">
			
			<div class="dropdown icon right">
				<button class="dropbtn"><img src="profile.jpg" alt="USER"</button>
				<div class="dropdown-content  shadow">
					<a href="">Login</a>
					<a href="{% url 'sign_up'%}">Sign up</a>
					<a href="{% url 'account_information'%}">Account Details</a>
					<a href="">Sign out</a>
				</div>
			</div>
			
			
			
			<div class="dropdown icon right">
				<button class="dropbtn">=</button>
				<div class="dropdown-content  shadow">
					<a href="{% url 'all_teams'%}">All Teams</a>
					<a href="">Contact Us</a>
				</div>
			</div>
		</div>

		<br><br>
			
		{% block body_block %}
		{% endblock %}
		
		
	</body>
</html>