{% extends 'sportSquads/base.html' %}

{% load static %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/home.js' %}"></script>

    <h1 id = "web-title">sportSquads</h1>
    <div class="banner">
        <h2>
            <p id="category-title">Sports</p>
        </h2>
    </div>
    <div class="link">
        <a class="left" href="{% url 'search_teams'%}">Search Teams</a>
		{% if user_info %}
            <a class="right" href="{% url 'add_new_sport'  %}">Add New Sport</a> <br />
        {% endif %}
    </div>
	
    <div id="box">

        {% if sports %}
            <div id="grid-container">
                {% for sport in sports %}       
                    <a class="link-box shadow" 
					{% if sport.image %}
					style="background-image:url({{ sport.image.url }});" 
					{% endif %}
					href="{% url 'show_sport' sport.name_slug %}">{{ sport.name }}</a>
                {% endfor %}
            </div>
        {% else %}
            <strong>There are no sports.</strong>
        {% endif %}
    </div>
{% endblock %}