{% extends 'sportSquads/base.html' %}

{% load static %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/home.js' %}"></script>

    <h1>sportSquads</h1>
    <div class=s>
        <h2>
            <p style="text-align:center">Sports</p>
        </h2>
    </div>
    <div>
        <a href="{% url 'all_teams'%}">View all Teams</a>
    </div>
    <div id="box">
        <h2>Sports</h2>
        {% if sports %}
            <div id="grid-container">
                {% for sport in sports %}
                    <div class="sport">
                        <a href="{% url 'show_sport' sport.name_slug %}">{{ sport.name }}</a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <strong>There are no sports.</strong>
        {% endif %}
    </div>
{% endblock %}