{% extends 'sportSquads/base.html' %}
{% load static %}

{% block title_block %}
    {% if team %}
        {{ team.name }}
    {% else %}
        Unknown Team
    {% endif %}

{% endblock %}


{% block body_block %}
    {% if team %}
        <h1>Join {{ team.name }}</h1>

        {% if not member %}
            <form id="join_team_form" method="post" action="/{{ sport_name }}/join-team/">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="submit" value="Join Team" />
            </form>

        {% endif %}
    {% endif %}
{% endblock %}