{% extends 'sportSquads/base.html' %}
{% load static %}

{% block title_block %}

    {% if sport %}
        {{ sport.name }}
    {% else %}
        Unknown Sport
    {% endif %}

{% endblock %}




{% block body_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/sport.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/sport.js' %}"></script>

    <h1>sportSquads</h1>

    {% if sport %}
        <div id="top-bar">
            <h1>{{ sport.name }}</h1>
            <p id="description"style=>{{ sport.description }}</p>
        </div>
        <h2>Roles</h2>
        {% if sport.roles %}
            {% for role, value in sport.roles.items %}
                <p>{{role}}: {{value}}</p>
            {% endfor %}
        {% else %}
            <h2>This sport has no roles.</h2>
        {% endif %}

        <div id="box">
            <h1>Teams</h1>

            {% if user_info %}
                <a href="{% url 'add_new_team'  sport.name  %}">Create Team</a> <br />
            {% endif %}

            {% if teams %}
                <div id="grid-container">
                    {% for team in teams %}
                        <div class="team">
                            <a href="{% url 'show_team' team.name_slug %}">{{ team.name }}</a>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <h2>This sport has no teams.</h2>
            {% endif %}
        </div>

    {% else %}
        <h2>Sport does not exist.</h2>
    {% endif %}

{% endblock %}