<style type="text/css">





div {
	border:  2px solid black;
	margin:  20px;
	}

div.s {	
  position: relative;
	bottom: 5px; 
	height:  40px;
	background: cadetblue;
}



	
div.box {	
   position: relative;
	below: 300px;
	background: lightblue;
		}  
  

/*.container {
  background-color: Blue;
  margin: 0 auto;
  font-size: 0;
}*/


.sport {
  box-sizing: border-box; 
  color: Black;
  display: inline-block;
  border: 5px solid black;
  height: %;
  width: 24%;
  font-size: 20px;
  overflow: hidden;
}


</style>



